body {
    font-size: 110%;
    line-height: 1.4rem;
    border: 5px double rgb(155, 155, 155);
    margin: 0 4rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 0.5fr auto 0.5fr;
    grid-template-areas: 
    "banner"
    "navigation"
    "mainContent"
    "footerContent";
}
/*Grid Position*/
.pagebanner {
    grid-area: banner;
}
.navigation {
    grid-area: navigation;
}
.mainContent {
    grid-area: mainContent;
}
.footer {
    grid-area: footerContent;
}
/*Styling*/
.pagebanner {
    background-image: url(../img/headerbanner.jpg);
    min-height: 50vh;
    background-position: center;
    background-size: cover;
}
.pagebanner .text {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}
.pagebanner span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 300%;
    font-weight: bold;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
}
.footer {
    display: grid;
    align-content: center;
    background: linear-gradient(0deg, rgba(33,124,168,1) 0%, rgba(0,21,138,1) 51%, rgba(33,124,168,1) 100%); 
    padding: 0 1rem;
    border-top: 5px double rgb(155, 155, 155);
}
.navigation {
    display: grid;
    align-content: center;
    background: rgb(33,124,168);
    background: linear-gradient(0deg, rgba(33,124,168,1) 0%, rgba(0,21,138,1) 51%, rgba(33,124,168,1) 100%); 
    border-top: 5px double rgb(155, 155, 155);
    border-bottom: 5px double rgb(155, 155, 155);
}
.navigation ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.navigation ul li {
    list-style: none;
    margin: 1rem;
    flex: 1;
}
.navigation a {
    display: block;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    color: rgb(4, 66, 100);
    border-radius: 1rem; 
    background: rgb(0,93,116);
    background: linear-gradient(0deg, rgba(0,93,116,1) 0%, rgba(114,185,246,1) 50%, rgba(0,93,116,1) 100%); 
    padding: 0.5rem;
    text-decoration: none;
    box-shadow: 3px 3px 5px rgba(0, 13, 85, 0.801);
}
.navigation a.aktuell {
    text-decoration: underline;
    color: white;
    box-shadow: none;
}
.navigation a:hover {
    box-shadow: none;
}
main {
    background-image: url(../img/mainbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgb(174, 224, 247);
}
.mainContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: minmax(240px, 240px);
    grid-auto-flow: dense;
}
.mainContent div {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    box-shadow: 3px 3px 5px rgb(65,106,125);
    margin: 1rem;
    overflow: hidden;
}
.mainContent .des1-2 {
    grid-column: span 1;
    grid-row: span 2;
}
.mainContent .des2-1 {
    grid-column: span 2;
    grid-row: span 1;
}
.mainContent .des1-1 {
    grid-column: span 1;
    grid-row: span 1;
}
.mainContent img {
    min-height: 110%; 
    min-width: auto;
    position: relative;
    bottom: 10%;
    transition: all, 20s;
    transform-origin: center center;
}
.mainContent img:hover {
    transform: scale(150%);
}
main.lueneburg {
    background-image: url("../img/lueneburgerheidebg.jpeg");
    min-height: 100vh;
}
main.balaton {
    background-image: url("../img/balatonbg.jpg");
    min-height: 100vh;
}
main.contact {
    background-image: url("../img/mainbg.jpg");
    min-height: 100vh;
}
div.heideContent, div.balatonContent, div.contactContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.heideContent article, .balatonContent article, .contactContent article {
    max-width: 40%;
    min-width: 20%;
    height: auto;
    margin: 2rem;
    font-weight: bold;
}
.contactContent article {
    max-width: 80%;
}
.heideContent img, .balatonContent img {
    max-width: 40%;
    height: auto;
    margin: 2rem;
}
.formContent {
    max-width: 70%;
    margin: auto;
    margin-bottom: 1rem;
}
.formContent fieldset {
    background-color: rgba(89, 110, 109, 0.774);
    border-radius: 2rem;
}
.formContent fieldset legend {
    background-color: wheat;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
}
.formContent form {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    grid-template-rows: repeat(7, auto);
}
/*Form-Grid*/
label[for="name"] {
    grid-row: 1/2;
    grid-column: 1/2;
}
input[id="name"] {
    grid-row: 1/2;
    grid-column: 2/3;
}
label[for="reason"] {
    grid-row: 2/3;
    grid-column: 1/2;
}
select[id="reason"] {
    grid-row: 2/3;
    grid-column: 2/3;
}
label[for="message"] {
    grid-row: 3/4;
    grid-column: 1/2;
}
textarea[id="message"] {
    grid-row: 3/4;
    grid-column: 2/3;
    resize: none;
}
label[for="answer"] {
    grid-row: 4/5;
    grid-column: 1/2;
}
input[id="answer"] {
    grid-row: 4/5;
    grid-column: 2/3;
    justify-self: start;
}
label[for="email"] {
    grid-row: 5/6;
    grid-column: 1/2;
}
input[id="email"] {
    grid-row: 5/6;
    grid-column: 2/3;
}
input[id="send"] {
    grid-row: 6/7;
    grid-column: 1/2;
}
input, textarea, select {
    margin: 1rem;
    align-self: center;
}
@media screen and (max-width: 450px) {
    body {
        margin: 0;
    }
    .mainContent {
        display: block;
        max-width: 100%;
    }
    .navigation ul li {
        flex: 0 0 90%;
    }
}